pre > code {
  display: grid;
  font-family: var(--font-mono);
}

code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > .line::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > .line::before {
  width: 3rem;
}

div[data-rehype-pretty-code-fragment] {
  @apply md:pl-4 overflow-hidden;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.5rem;
}

div[data-rehype-pretty-code-title] {
  @apply text-violet-900 font-mono;
}

@media (prefers-color-scheme: dark) {
  pre[data-theme="light"],
  code[data-theme="light"] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme="dark"],
  code[data-theme="dark"] {
    display: none;
  }
}

article p a {
  @apply text-amber-700 dark:text-amber-200 underline;
}

article ul {
  @apply pl-4 md:pl-16;
}

article ul > li {
  list-style-type: circle;
}

article ol {
  @apply pl-6 md:pl-16;
}

article ol > li {
  list-style-type: decimal;
}

article h2 {
  @apply text-2xl lg:text-3xl;
}

article :not(pre) > code {
  @apply bg-slate-200 dark:bg-slate-700 rounded-md p-1 font-mono;
}
