@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

.dark {
  --foreground-rgb: 209, 213, 219;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: scroll;
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-sans);
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  color-scheme: dark;
}
